@{
    ViewData["Title"] = "Home Page";
}
<div class="promo-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo1">
					<i class="fa fa-refresh"></i>
					<p>30 Günde İade</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo2">
					<i class="fa fa-truck"></i>
					<p>Ücretsiz Kargo</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo3">
					<i class="fa fa-lock"></i>
					<p>Güvenli Ödeme</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo4">
					<i class="fa fa-gift"></i>
					<p>Yeni Ürünler</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="brands-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="brand-wrapper">
					<div class="brand-list">
						<img src="~/ustora/img/brand1.png" alt="">
						<img src="~/ustora/img/brand2.png" alt="">
						<img src="~/ustora/img/brand3.png" alt="">
						<img src="~/ustora/img/brand4.png" alt="">
						<img src="~/ustora/img/brand5.png" alt="">
						<img src="~/ustora/img/brand6.png" alt="">
						<img src="~/ustora/img/brand1.png" alt="">
						<img src="~/ustora/img/brand2.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

