@using EntityLayer
@model List<Product>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>ALIŞVERİŞ</h2>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
               {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="@item.product_Stock" alt="">
                        </div>
                        <h2><a href="">@item.product_Name</a></h2>
                        <div class="product-carousel-price">
                            <ins>$@item.product_Price</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Sepete Ekle</a>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

